<html>

  {% load staticfiles %}
  <head>
    <title>文档的标题</title>
    <link href="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

    <link href="http://cdn.staticfile.org/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
    <link href="{% static 'css/calendar.css' %}" rel="stylesheet" >
  
    </head>

  <body>
      <div class="ui modal add">
        <i class="close icon"></i>
        <div class="header">
          Company Name
        </div>
       
          
          <table class="ui celled table">
           
            <tbody>
              <tr>
                <td>公司名称</td>
                <td>Cell2</td>
              </tr>
              <tr>
                <td>部署日期</td>
                <td>Cell4</td>
              </tr>
              <tr>
                <td>部署日期</td>
                <td>Cell4</td>
              </tr>
              <tr>
                <td>备注</td>
                <td>Cell4</td>
              </tr>
            </tbody>
         </table> 

        
        <div class="actions">
          <div class="ui black deny button">
            Cancel
          </div>
          <div class="ui positive right labeled icon button">
            Done
            <i class="checkmark icon"></i>
          </div>
        </div>
      </div>

      <div class="ui modal detail">
        <i class="close icon"></i>
        <div class="header">
          Company Name
        </div>
       
          
          <table class="ui celled table">
           
            <tbody>
              <tr>
                <td>公司名称</td>
                <td><div class="mini ui input"><input type="text" placeholder=""></div></td>
              </tr>
              <tr>
                <td>首次部署日期</td>
                <td><div class="mini ui input"><input type="text" placeholder=""></div></td>
              </tr>
            </tbody>
         </table> 

        
        <div class="actions">
          <div class="ui black deny button">
            Cancel
          </div>
          <div class="ui positive right labeled icon button">
            + Add
            <i class="checkmark icon"></i>
          </div>
        </div>
      </div>


      


      <table class="ui celled table">
                <thead>
                  <tr>
                  <th>#</th>
                  <th>公司名称</th>
                  <th>首次部署日期</th>
                  <th>上一次更新日期</th>
                  <th>-</th>
                </tr></thead>
                <tbody>
                        <tr>
                          <td>id</td>
                          <td>Name</td>
                          <td>Lastupate</td>
                          <td>detail</td>
                          <td><button class="small ui inverted green button">Edit</button></td>
                        </tr>
                </tbody>
        </table>

      <div class="ui right floated small primary labeled icon button"><i class="user icon"></i> 添加企业 </div>

     <div class="ui calendar" id="example1">
      <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="Date" value="2017-06-01">
      </div>
      </div>
       
    <script src="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.js"></script>
    <script>

      var btn = $('.ui.inverted.green.button')
      btn.click(() => {
        $('.ui.modal.add')
          .modal('show')
        ;
      })

      var btn = $('.ui.right.floated.small.primary.labeled.icon.button')
      btn.click(() => {
        console.log('click')
        $('.ui.modal.detail')
          .modal('show')
        ;
      })
    </script>

    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/semantic-ui/2.2.7/semantic.min.js"></script>
    <script src="{% static 'js/calendar.js' %}" charset="utf-8"></script>
    <script>
      var btn = $('.ui.calendar')
      btn.click(() => {
        console.log('click')
        $('#example1').calendar({type: 'date'});
      })
    </script>
 
  </body>

</html>
