<html>

  {% load staticfiles %}
  <head>
    <title>私有部署客户信息维护</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/semantic-ui/2.2.7/semantic.min.js"></script>
    <script src="{% static 'js/calendar.js' %}" charset="utf-8"></script>
    <link href="http://cdn.staticfile.org/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
    <link href="{% static 'css/calendar.css' %}" rel="stylesheet" >
  
    </head>

  <body>
      <div class="ui modal" id = 'comInfo' >
        <i class="close icon"></i>
        <div class="header">
          Edit
        </div>
       
          
          <table class="ui celled table" >
           
            <tbody>
                    <tr>
                      <td>公司名称</td>
                      <td>
                          <div class="ui transparent input">
                          <input id="companyName1" type="text" readonly="readonly" >
                          </div>
                      </td>
                    </tr>
                    <tr>
                      <td>部署日期</td>
                      <td>
                          <div class="ui transparent input">
                          <input id="create1" type="text" readonly="readonly" >
                          </div>
                      </td>
                    </tr>
                    <tr>
                      <td>更新日期</td>
                      <td>
                        <div class="ui transparent input">
                        <input id="update1" type="text" readonly="readonly" >
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>备注</td>
                      <td>
                        <div class="ui transparent input">
                        <input type="text"  >
                        </div>
                      </td>
                    </tr>
            </tbody>
         </table> 

        
        <div class="actions">
          <div class="ui black deny button">
            Cancel
          </div>
          <div class="ui positive right labeled icon button">
            Done
            <i class="checkmark icon"></i>
          </div>
        </div>
      </div>

      <div class="ui modal detail">
        <i class="close icon"></i>
        <div class="header">
          Add Company
        </div>
      
       
          
        
         <div class="ui form" style="padding: 1rem;">
            <div class="inline field">
              <label>企业名称</label>
              <input id="companyName" type="text" placeholder="Company Name">
            </div>
            <div class="inline field">
                <label>首次部署日期</label>
              <div class="ui calendar " id="example" style="display: inline-block">
                <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input id="date" type="text" placeholder="Date" value="July 1, 2017">
                </div>  
              </div>
            </div>
          </div>
        
        
        <div class="actions">
          <div class="ui black deny button">
            Cancel
          </div>
          <div class="ui positive right labeled icon button" id="addBtn">
            + Add
            <i class="checkmark icon"></i>
          </div>
        </div>
      </div>


      


      <table class="ui celled table">
                <thead>
                  <tr>
                  <th>#</th>
                  <th>公司名称</th>
                  <th>首次部署日期</th>
                  <th>上一次更新日期</th>
                  <th>-</th>
                </tr></thead>
                <tbody>
                      {% for company in companys %}
                        <tr>
                          <td>{{ company.id }}</td>
                          <td>{{ company.name }}</td>
                          <td>{{ company.create_time }}</td>
                          <td>{{ company.update_time }}</td>
                          <td width="15%">
                            <button class="small ui inverted green button" id="{{company.id}}" name="editBtn">Edit</button></a>
                            <a href="/rm?id={{company.id}}"><button class="small ui inverted red button" id=rmBtn>Delete</button></a>
                          </td>
                        </tr>
                      {% endfor %}
                </tbody>
        </table>

      <div class="ui right floated small primary labeled icon button" id=addompanyBtn><i class="user icon"></i> 添加企业 </div>

   
       
    <script src="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.js"></script>
    <script>

      var btn = $('button[name="editBtn"]')
      btn.click((e) => {
        console.log(e.target.id)
        var id = e.target.id
        $.ajax({
          url: '/edit?id='+id,
          type: 'GET',
          cache: false,
          processData: false,
          contentType: false
        }).done(function(res) {
          console.log(typeof res, JSON.parse(res))
          var res = JSON.parse(res)
          $('#companyName1').val(res.a)
          $('#update1').val(res.c)
          $('#create1').val(res.b)
        }).fail(function(res) {})
        $('#comInfo')
          .modal('show')
        ;
      })

      var btn = $('#addompanyBtn')
      btn.click(() => {
        console.log('click')
        $('.ui.modal.detail')
          .modal('show')
        ;
      })
  
      var btn = $('.ui.calendar')
      btn.click(() => {
        console.log('click')
        $('#example').calendar({type: 'date'});
      })
 
      var addBtn = $('#addBtn')
      addBtn.click(function () {
        var formData = new FormData()
        var date = $('#date').val()
        var companyName = $('#companyName').val()
        formData.append('date', date)
        formData.append('companyName', companyName)
        

        $.ajax({
          url: '/add/',
          type: 'POST',
          cache: false,
          data: formData,
          processData: false,
          contentType: false
        }).done(function(res) {
          location.reload();
        }).fail(function(res) {})
      })
    </script>
    
  </body>

</html>
